@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: "Poppins", sans-serif;
}

/*----------------------------------------- header ----------------------------------------*/

.wrapper .header {
	z-index: 1;
	background: #2b1505fb;
	position: fixed;
	width: calc(100% - 0%);
	height: 70px;
	display: flex;
	top: 0;
}

.wrapper .header .header-menu {
	width: calc(100% - 0%);
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}

.wrapper .header .header-menu .title a {
	color: #fff;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 900;
}

.wrapper .header .header-menu .title span {
	color: #cbe84c;
}

.sidebar-btn i {
	margin-left: 90px;
}

.wrapper .header .header-menu .sidebar-btn {
	color: #fff;
	position: absolute;
	margin-left: 240px;
	font-size: 22px;
	font-weight: 900;
	cursor: pointer;
	transition: 0.3s;
	transition-property: color;
}

.wrapper .header .header-menu .sidebar-btn:hover {
	color: #cbe84c;
}

.wrapper .header .header-menu ul {
	display: flex;
}

.wrapper .header .header-menu ul li a {
	background: #fff;
	color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 10px;
	font-size: 18px;
	width: 34px;
	height: 34px;
	line-height: 35px;
	text-align: center;
	border-radius: 50%;
	transition: 0.3s;
	transition-property: background, color;
}

.wrapper .header .header-menu ul li a:hover {
	background: #cbe84c;
	color: #fff;
}

.wrapper .sidebar {
	z-index: 1;
	background: #2b1505fb;
	position: fixed;
	top: 70px;
	width: 250px;
	height: 100%;
	transition: 0.3s;
	transition-property: width;
	overflow-y: auto;
}

.wrapper .sidebar .sidebar-menu {
	overflow: hidden;
}

.profile {
	display: flex;
	align-items: center;
	padding: 0 20px;
}

.wrapper .sidebar .sidebar-menu .profile img {
	margin: 15px 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.wrapper .sidebar .sidebar-menu .profile p {
	color: #bbb;
	font-weight: 700;
	margin-left: 20px;
}

.wrapper .sidebar .sidebar-menu .item {
	width: 250px;
	overflow: hidden;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn {
	display: block;
	color: #fff;
	position: relative;
	padding: 25px 20px;
	transition: 0.3s;
	transition-property: color;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn:hover {
	color: #f5ad5b;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn i {
	margin-right: 20px;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn .drop-down {
	float: right;
	font-size: 12px;
	margin-top: 3px;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu {
	background: #f5ad5b;
	overflow: hidden;
	max-height: 0;
	transition: 0.3s;
	transition-property: background, max-height;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu a {
	display: block;
	position: relative;
	color: #fff;
	white-space: nowrap;
	font-size: 15px;
	padding: 20px;
	transition: 0.3s;
	transition-property: background;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu a:hover {
	background: #eeeeee;
	color: #000;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu a:not(last-child) {
	border-bottom: 1px solid #d8a871;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu i {
	padding-right: 20px;
	font-size: 10px;
}

.wrapper .sidebar .sidebar-menu .item:target .sub-menu {
	max-height: 500px;
}

.wrapper .main-container {
	width: (100% - 250px);
	margin-top: 70px;
	margin-left: 250px;
	padding: 15px;
	background: url(background.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
	transition: 0.3s;
}

.wrapper.collapse .sidebar {
	width: 70px;
}

.wrapper.collapse .sidebar .profile img,
.wrapper.collapse .sidebar .profile p,
.wrapper.collapse .sidebar a span {
	display: none;
}

.wrapper.collapse .sidebar .sidebar-menu .item .menu-btn {
	font-size: 23px;
}

.wrapper.collapse .sidebar .sidebar-menu .item .sub-menu i {
	font-size: 18px;
	padding-left: 3px;
}

.wrapper.collapse .main-container {
	width: calc(100% - 70px);
	margin-left: 70px;
}

.wrapper .main-container .card {
	background: #fff;
	padding: 15px;
	margin-bottom: 10px;
	font-size: 14px;
}

/*-------------------------------------- end header ---------------------------------------*/

/*---------------------------------------- banner -----------------------------------------*/

.banner {
	height: 0vh;
}
.banner_all {
	height: 0vh;
}
.banner-container {
	padding: 60px 30px;
	display: flex;
	margin: auto;
	width: 80%;
	height: 400px;
}
.banner-container-logo {
	display: none;
}
.banner-left {
	display: flexbox;
	width: 50%;
}
.banner-right {
	width: 50%;
}
.banner-text {
	margin-top: -150px;
	margin-bottom: 15px;
	font-size: 28px;
	color: #f1f1f1;
	padding: 250px 0 0 10%;
}
.banner-link {
	font-size: 20px;
	color: #1b1b1b;
	font-weight: 700;
	background-color: #f1f1f1;
	text-decoration: none;
	padding: 5px 25px;
	border-radius: 50px;
	margin-left: 10%;
}
.banner-logo {
	width: 65.5%;
	margin: 5% 0 0 23%;
}

@media (max-width: 1350px) {
	.banner-logo {
		width: 67.5%;
		margin: 6% 0 20px 36%;
	}
	.banner-text {
		margin-top: -150px;
		margin-bottom: 15px;
		font-size: 24px;
		color: #f1f1f1;
		padding: 250px 0 0 10%;
	}
	.banner-link {
		font-size: 20px;
		color: #1b1b1b;
		font-weight: bold;
		background-color: #f1f1f1;
		text-decoration: none;
		padding: 5px 25px;
		border-radius: 50px;
		margin-left: 10%;
	}
}

@media (max-width: 1150px) {
	.banner-logo {
		width: 67.5%;
		margin: 7% 0 20px 37%;
	}
	.banner-text {
		margin-top: -150px;
		margin-bottom: 15px;
		font-size: 22px;
		color: #f1f1f1;
		padding: 250px 0 0 5%;
	}
	.banner-link {
		font-size: 18px;
		color: #1b1b1b;
		font-weight: bold;
		background-color: #f1f1f1;
		text-decoration: none;
		padding: 5px 25px;
		border-radius: 50px;
		margin-left: 5%;
	}
}
@media (max-width: 1090px) {
	.banner-logo {
		width: 67.5%;
		margin: 8% 0 20px 38%;
	}
}

@media (max-width: 1000px) {
	.banner-logo {
		width: 67.5%;
		margin: 9% 0 20px 39%;
	}
}
@media (max-width: 900px) {
	.banner-logo {
		width: 67.5%;
		margin: 10% 0 20px 40%;
	}
}

/* Tablet Menu */

@media (max-width: 868px) {
	.banner-logo {
		width: 75.5%;
		margin: 11% 0 20px 41%;
	}
}

@media (max-width: 750px) {
	.banner-logo {
		width: 78.5%;
		margin: 11% 0 20px 41%;
	}
	.banner-text {
		margin-top: -150px;
		margin-bottom: 15px;
		font-size: 19px;
		color: #f1f1f1;
		padding: 220px 0 0 5%;
	}
	.banner-link {
		font-size: 15px;
		color: #1b1b1b;
		font-weight: bold;
		background-color: #f1f1f1;
		text-decoration: none;
		padding: 5px 25px;
		border-radius: 50px;
		margin-left: 5%;
	}
}

@media (max-width: 630px) {
	.banner-logo {
		width: 88%;
		margin: 10% 0 20px 33%;
	}
	.banner-text {
		margin-top: -150px;
		margin-bottom: 15px;
		font-size: 19px;
		color: #f1f1f1;
		padding: 210px 0 0 5%;
	}
}

@media (max-width: 585px) {
	.banner-logo {
		width: 90%;
		margin: 10% 0 20px 33%;
	}
	.banner-text {
		margin-top: -150px;
		margin-bottom: 15px;
		font-size: 18px;
		color: #f1f1f1;
		padding: 200px 0 0 5%;
	}
	.banner-link {
		font-size: 15px;
		color: #1b1b1b;
		font-weight: bold;
		background-color: #f1f1f1;
		text-decoration: none;
		padding: 3px 15px;
		border-radius: 50px;
		margin-left: 5%;
	}
}
@media (max-width: 485px) {
	.banner-logo {
		width: 90%;
		margin: 10% 0 20px 33%;
	}
	.banner-text {
		margin-top: -150px;
		margin-bottom: 15px;
		font-size: 15px;
		color: #f1f1f1;
		padding: 200px 0 0 5%;
	}
	.banner-link {
		font-size: 13px;
		color: #1b1b1b;
		font-weight: bold;
		background-color: #f1f1f1;
		text-decoration: none;
		padding: 3px 15px;
		border-radius: 50px;
		margin-left: 5%;
	}
}

@media (max-width: 425px) {
	.banner-logo {
		width: 93%;
		margin: 10% 0 20px 33%;
	}
	.banner-text {
		margin-top: -150px;
		margin-bottom: 15px;
		font-size: 13px;
		color: #f1f1f1;
		padding: 180px 0 0 5%;
	}
	.banner-link {
		font-size: 10px;
		color: #1b1b1b;
		font-weight: bold;
		background-color: #f1f1f1;
		text-decoration: none;
		padding: 3px 15px;
		border-radius: 50px;
		margin-left: 5%;
	}
}
@media (max-width: 380px) {
	.banner-logo {
		display: none;
	}
	.banner-text {
		display: none;
	}
	.banner-link {
		display: none;
	}
	.banner-container-logo {
		display: block;
		width: 170px;
		height: 120px;
		margin: 7.5% 25%;
	}
}
@media (max-width: 380px) {
	.banner-container-logo {
		display: none;
	}
}

/*--------------------------------------- end banner --------------------------------------*/

/*------------------------------------ barber queue table ----------------------------------*/

.container-table {
	box-sizing: border-box;
	margin: 5% 10% 10% 10%;
}

.header-barber-queue {
	color: #643b0f;
	font-size: 1.5em;
	padding: 1rem;
	text-align: center;
	text-transform: uppercase;
}

.img-barber-queue {
	border-radius: 50%;
	height: 40px;
	width: 40px;
}

.table-barber-queue {
	border: 1px solid #dadada;
	border-radius: 7px;
	box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
	max-width: calc(100% - 2em);
	margin: 1em auto;
	overflow: hidden;
	width: 70%;
}

.barber-queue {
	width: 100%;
}
.barber-queue .td-barber-queue,
.barber-queue .th-barber-queue {
	color: #643b0f;
	padding: 10px;
}
.barber-queue .status-queue {
	color: #643b0f;
	padding: 10px 3px;
}
.barber-queue .td-barber-queue {
	text-align: center;
	vertical-align: middle;
}
.barber-queue .td-barber-queue .queue-complete,
.barber-queue .td-barber-queue .queue-cancel,
.barber-queue .td-barber-queue .queue-edit {
	padding: 10px 14px;
	border-radius: 25px;
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	font-size: 14px;
}
.barber-queue .td-barber-queue .queue-complete {
	background-color: #48c148;
}
.barber-queue .td-barber-queue .queue-complete:hover {
	background-color: #349034;
}
.barber-queue .td-barber-queue .queue-edit {
	background-color: #f1c840;
}
.barber-queue .td-barber-queue .queue-edit:hover {
	background-color: #e1b936;
}
.barber-queue .td-barber-queue .queue-cancel {
	background-color: #df3c37;
}
.barber-queue .td-barber-queue .queue-cancel:hover {
	background-color: #ac2e29;
}
.barber-queue .td-barber-queue:last-child {
	font-size: 0.95em;
	line-height: 1.4;
}
.td-barber-queue .queue-complete i,
.td-barber-queue .queue-cancel i {
	font-size: 16px;
}
.barber-queue .th-barber-queue {
	background-color: #643b0f;
	font-weight: 300;
	color: #fff;
}
.barber-queue .tr-barber-queue:nth-child(2n) {
	background-color: white;
}
.barber-queue .tr-barber-queue:nth-child(2n + 1) {
	background-color: #fffde3;
}

@media screen and (max-width: 1200px) {
	.table-barber-queue {
		width: 1000px;
	}
}

@media screen and (max-width: 900px) {
	.container-table {
		box-sizing: border-box;
		margin: 5% 5% 10% 5%;
	}
	.table-barber-queue {
		width: 1200px;
		margin: 1em 0;
		max-width: 100%;
		overflow: auto;
	}
}

@media screen and (max-width: 750px) {
	.container-table {
		box-sizing: border-box;
		margin: 5% 0% 10% 0%;
	}
	.table-barber-queue {
		border: 1px solid #dadada;
		border-radius: 0px;
		width: 1200px;
		margin: 1em 0;
		max-width: 100%;
		overflow: auto;
	}
}

@media screen and (max-width: 650px) {
	.container-table {
		box-sizing: border-box;
		margin: 5% 10% 10% 10%;
	}
	.table-barber-queue {
		border: 1px solid #dadada;
		border-radius: 7px;
		box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
		max-width: calc(100% - 2em);
		margin: 1em auto;
		overflow: auto;
	}
	.barber-queue,
	.tr-barber-queue,
	.td-barber-queue {
		display: block;
		width: max-content;
	}

	.img-barber-queue {
		border-radius: 50%;
		height: 80px;
		width: 80px;
	}

	.td-barber-queue:first-child {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100px;
		left: 0;
	}
	.td-barber-queue:not(:first-child) {
		clear: both;
		left: 120px;
		padding: 4px 20px 4px 90px;
		position: relative;
		text-align: left;
	}
	.td-barber-queue:not(:first-child):before {
		color: #6c441a;
		content: "";
		display: block;
		left: 0px;
		position: absolute;
	}
	.td-barber-queue:nth-child(2):before {
		content: "Nickname:";
	}
	.td-barber-queue:nth-child(3):before {
		content: "Phone:";
	}
	.td-barber-queue:nth-child(4):before {
		content: "Date:";
	}
	.td-barber-queue:nth-child(5):before {
		content: "Time:";
	}
	.td-barber-queue:nth-child(6):before {
		content: "Status:";
	}

	.tr-barber-queue {
		padding: 10px 0;
		position: relative;
	}
	.td-barber-queue {
		width: 510px;
	}
	.tr-barber-queue:first-child {
		display: none;
	}
}

/*-------------------------------- end barber queue table ---------------------------------*/

/*------------------------------------- footer -------------------------------------------*/

.bottom-footer {
	padding: 20px;
	text-align: center;
	padding: 50px;
}
.right-footer {
	text-align: center;
}
.container-footer-icon {
	text-align: center;
}
.text-footer {
	font-size: 28px;
	color: #f1f1f1;
}
.container-footer-icon {
	text-align: center;
}

.footer-logo {
	width: 150px;
	height: 150px;
	margin: 1.5%;
}
.footer-icon {
	width: 50px;
	height: 50px;
	margin: 1.5%;
}

.fab.fa-facebook.icon-footer {
	font-size: 50px;
	font-weight: 400;
	color: white;
	padding: 0 25px;
	margin-top: 15px;
}

.fas.icon-footer.fa-mobile-alt:before {
	font-size: 50px;
	color: white;
	padding: 0 25px;
}

.fas.icon-footer.fa-map-marked-alt:before {
	font-size: 50px;
	color: white;
	padding: 0 25px;
}

/*----------------------------------------- end footer ------------------------------------*/
